<div class="newsletter-form clearfix">
    <div class="form-group">

        <label style="color: black;"><strong>Prenume</strong></label>
        <input type="text" name="PRENUME" class="form-control form-control-lg fix_font_color" placeholder="Prenume"
            required /><br />
        <label style="color: black;"><strong>Nume</strong></label>
        <input type="text" name="NUME" class="form-control form-control-lg fix_font_color" placeholder="Nume"
            required /><br />
        <label style="color: black;"><strong>Adresă e-mail:</strong></label><input type="email" name="EMAIL"
            id="newsletter-form-email" class="form-control form-control-lg fix_font_color"
            placeholder="Adresa de e-mail" required /><br />
        <div style="color: black;">

            <label><strong>La ce sesiuni online dorești să te înscrii?</strong></label><br />
            <div style="width: 100%;padding-bottom: 5rem;">
                <div style="width: 50%;float:left;">
                    <label>
                        <input name="INTERESTS[b86e58e7a6][]" type="checkbox" value="3c27c6fd43"> <span>„Viitorul
                            @TUIASI. Cum mi-am ales facultatea?”, miercuri, 20 mai, 13:00-14:00</span>
                    </label><br />
                    <label>
                        <input name="INTERESTS[b86e58e7a6][]" type="checkbox" value="b15ef14cf8"> <span>„Viitorul este
                            electric!”, miercuri, 20 mai, 14:00-15:00</span>
                    </label><br />
                    <label>
                        <input name="INTERESTS[b86e58e7a6][]" type="checkbox" value="d74d4d2f18"> <span>„ARHIPELARG”,
                            miercuri, 20 mai, 15:00-16:00</span>
                    </label><br />
                    <label>
                        <input name="INTERESTS[b86e58e7a6][]" type="checkbox" value="6bbaa112cd"> <span>„Viitorul
                            @TUIASI. Cum mi-am ales facultatea?”, miercuri, 20 mai, 16:00-17:00</span>
                    </label><br />
                    <label>
                        <input name="INTERESTS[b86e58e7a6][]" type="checkbox" value="d11635b9d2"> <span>„Pregătește-te
                            să devii SMART!”, miercuri, 20 mai, 17:00-18:00</span>
                    </label><br />
                    <label>
                        <input name="INTERESTS[b86e58e7a6][]" type="checkbox" value="a929d52ae8"> <span>„Cum să ai
                            succes la examene. Tehnici de memorare și învățare”, miercuri, 20 mai, 18:00-19:00</span>
                    </label><br />
                    <label>
                        <input name="INTERESTS[b86e58e7a6][]" type="checkbox" value="3619124ada"> <span>„Competiția
                            viitorului – Ingineria Materialelor”, joi, 21 mai, 13:00-14:00</span>
                    </label><br />
                    <label>
                        <input name="INTERESTS[b86e58e7a6][]" type="checkbox" value="3147b28c15"> <span>„Fii motorul
                            generației tale”, joi, 21 mai, 14:00-15:00</span>
                    </label><br />
                    <label>
                        <input name="INTERESTS[b86e58e7a6][]" type="checkbox" value="e49bae4d4a"> <span>„DIMA for You”,
                            joi, 21 mai, 15:00-16:00</span>
                    </label><br />
                </div>
                <div style="width:50%;float:right">
                    <label>
                        <input name="INTERESTS[b86e58e7a6][]" type="checkbox" value="bde2d26de1"> <span>„Creează o lume
                            mai bună! ”, joi, 21 mai, 16:00-17:00</span>
                    </label><br />
                    <label>
                        <input name="INTERESTS[b86e58e7a6][]" type="checkbox" value="4ffba79867"> <span>„Despre
                            Antreprenoriat@TUIASI” , joi, 21 mai, 17:00-18:00</span>
                    </label><br />
                    <label>
                        <input name="INTERESTS[b86e58e7a6][]" type="checkbox" value="f5b34b99ad"> <span>„Viitorul
                            @TUIASI. Cum mi-am ales facultatea?”, joi, 21 mai, 18:00-19:00</span>
                    </label><br />
                    <label>
                        <input name="INTERESTS[b86e58e7a6][]" type="checkbox" value="95888a7a73"> <span>„Apa, resursa
                            vieții pe pământ!”, vineri, 22 mai, 13:00-14:00</span>
                    </label><br />
                    <label>
                        <input name="INTERESTS[b86e58e7a6][]" type="checkbox" value="dac5ddae44"> <span>„Viitorul este
                            în Construcție!”, vineri, 22 mai, 14:00-15:00</span>
                    </label><br />
                    <label>
                        <input name="INTERESTS[b86e58e7a6][]" type="checkbox" value="1fb98efb26"> <span>„ACum iti
                            programezi viitorul!”, vineri, 22 mai, 15:00-16:00</span>
                    </label><br />
                    <label>
                        <input name="INTERESTS[b86e58e7a6][]" type="checkbox" value="1ee296ae3b"> <span>„Viitorul
                            @TUIASI. Cum mi-am ales facultatea?”, vineri, 22 mai, 16:00-17:00</span>
                    </label><br />
                    <label>
                        <input name="INTERESTS[b86e58e7a6][]" type="checkbox" value="b17debbe1c"> <span>„Electronica -
                            domeniu sinergic al viitorului!”, vineri, 22 mai, 17:00-18:00</span>
                    </label><br />
                    <label>
                        <input name="INTERESTS[b86e58e7a6][]" type="checkbox" value="ff3bf70935"> <span>„Liderul
                            viitorului”, vineri, 22 mai, 18:00-19:00</span>
                    </label>
                </div>
            </div>
        </div>
        <div style="width:100%;color: black; flex-direction:column" class="d-flex">
            <div class="row col-md-12 d-block">
                <hr>
            </div>
            <div class="row col-md-12 d-block">
                <br />
                <label><strong>Dorești să te înregistrezi la newsletter-ul evenimentului?</strong></label>&nbsp;&nbsp;
                <label>
                    <input name="INTERESTS[caa618325d]" type="radio" value="9e14ffe8fb" required> <span>DA</span>
                </label>
                <label>
                    <input name="INTERESTS[caa618325d]" type="radio" value="dcbf70ea30" required> <span>NU</span><br />
                </label>
                <br />
                <br />
            </div>
            <div class="row col-md-12 d-block">
                <hr>
            </div>
            <div class="row col-md-12 d-block">
                <br />
                <label><strong>Dorești să afli informații legate de concursul de admitere?</strong></label>&nbsp;&nbsp;
                <label>
                    <input name="INTERESTS[6b3a12c885]" type="radio" value="8bfe59724f" required> <span>DA</span>
                </label>
                <label>
                    <input name="INTERESTS[6b3a12c885]" type="radio" value="43eabfd561" required> <span>NU</span>
                </label>
                <br />
                <br />
            </div>
        </div>
        <div style="width: 100%; align: center;">
            <input class="d-flex btn btn-primary btn-fix" type="submit" value="Abonează-te"><br />
        </div>

    </div>
</div>